<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="grocery-app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AppBuilder + Ionic = <3</title>

    <script src="cordova.js"></script>
    <link href="http://code.ionicframework.com/1.0.0-beta.11/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.11/js/ionic.bundle.js">
    </script>
    <script>
        angular.module( "grocery-app", [ "ionic" ])
            .controller( "GroceryController", function( $scope ) {
            $scope.groceries = [
                "Bananas", "Apples", "Oranges", "Milk", "Eggs", "Bread",
                "Cereal", "Beef", "Napkins", "Cheese", "Peanut Butter"
            ];
            $scope.onItemDelete = function( grocery ) {
                $scope.groceries.splice(
                $scope.groceries.indexOf( grocery ), 1 );
            };
            $scope.onShare = function() {
                window.plugins.socialsharing.share(
                $scope.groceries.join( ", " ) );
            };
            
           /* $scope.removeGrocery = function( grocery ) {
                $scope.groceries.splice(
                $scope.groceries.indexOf( grocery ), 1 );
            };
            $scope.onItemDelete = function( grocery ) {
                var message = "Are you sure you want to delete " + grocery + "?";
                navigator.notification.confirm( message, function( index ) {
                    if ( index === 1 ) {
                        $scope.removeGrocery( grocery );
                        $scope.$apply();
                    }
                });
            }*/   
});
        
    </script>
</head>
<body ng-controller="GroceryController">
    <ion-header-bar class="bar-positive">
    <h1 class="title">Grocery List</h1>
    <div class="buttons">
        <button class="button" ng-click="onShare()">Share</button>
    </div>
</ion-header-bar>
    <ion-content>
        <ion-list show-delete="true">
            <ion-item ng-repeat="grocery in groceries" item="grocery">
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(grocery)"></ion-delete-button>
                {{ grocery }}
            </ion-item>
        </ion-list>
    </ion-content>
</body>
</html>
